<h1>"Create your wheel"</h1><br>
<h2>Please select the answer that represents you.</h2><br>

<%= form_for @wheel do |f| %>
       <%= f.fields_for :answers, @wheel.answers do |answer_f| %>

	       <%= answer_f.label :answer_value do |answervalue_f| %>
	            <%= answer_f.object.question.section.section_name %>
	            <%= answer_f.object.question.question %>
	            <%= answer_f.object.answer_text %>
	            <%= "Section id: #{answer_f.object.question.section.id}" %>
	            <%= "Question id: #{answer_f.object.question.id}" %>
	            <%= "Answer id: #{answer_f.object.id}" %>
	            <%= answer_f.radio_button :answer_value, :answer_value %>
	       <% end %>
      <% end %><br>

  <%= f.submit "Create Wheel" %>

<% if flash[:error] -%>
      <%= flash[:error] %>
<% end -%>

<% end %>