
<div class="row">
    <div class="large-8 columns"></div>
      <div class="large-4 columns">
      </br>
        <label class="radius secondary label">
        <h1><b>Edit User : </b><%= current_user.email %></h1>
      </label>
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.email_field :email, placeholder:"Your email address", :autofocus => true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation?   %>
               Currently waiting confirmation for: <%= resource.unconfirmed_email %>
            <% end %>

            <%= f.password_field :password, placeholder:"Your new password", :autocomplete => "off" %>

            <%= f.password_field :password_confirmation, placeholder:"Confirm your password" %>

            
            <%= f.password_field :current_password, placeholder:"Enter current password to save changes" %>
            <div class="row">
              <%= f.submit "Update" ,class: "small button"%>
              <% end %>
               <%= link_to "Back", root_path %>
            </div>  
      </div>
</div>